* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Mulish', sans-serif;
    height: 100%;
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}



.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.logo img{
    width: 200px;
    height: 150px;
}
.menu{
    margin-left: 200px;
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
}
.menu ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: black;
}
.menu :hover{
    color: #F4694C;
}

main {
    display: flex;
    justify-content: space-between;
}

.booking-form {
   position: fixed;
   top: 200px;
}

.box-content {
 margin-left: 400px;   
 margin-top: 200px;
}

footer {
    background-color: #F4694C;
    margin-top: 40px;
    padding-bottom: 24px;
    position: sticky;
    top: 100%;
    width: 100%;
}

.box-footer {
    display: flex;
    color: #fff;
    padding: 24px 64px;
    justify-content: space-between;
}

.box-footer>div {
    width: 300px;
}
.box-footer>div p {
    margin-top: 8px;
}

.box-footer div p {
    line-height: 1.6;
}

.box-footer div p a {
    color: #fff;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
}

.social p {
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 8px;
    padding: 4px;
    cursor: pointer;
}

.social p i{
    font-size: 24px;
    color: #fff;
}

.social p i:hover {
    color: rgb(40, 117, 40);
} 

