* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Mulish', sans-serif;
}

#message {
    color: red;
    font-size: 30px;
    text-align: center;
    margin: 16px 0;
}

.container {
    display: flex;
}
a {
    text-decoration: none;
}

.box-left {
    background-color: #212936;
    min-height: 100vh;
    flex: none;
}

.top-box-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;;
    padding-bottom: 16px;
}

.top-box-left p a {
    margin-left: 16px;
    color: #DDE2FF;
}


nav ul li {
    list-style: none;
    padding: 16px 48px;
}
nav ul li:hover {
    background-color: #313C4E;
}

nav ul li a {
    color: #DDE2FF;
}

nav ul li i {
    color: #DDE2FF;
    padding-right: 8px;
}


.box-right {
    width: 100%;
    padding: 16px 32px;
    flex-grow: 80%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header .right {
    display: flex;
    align-items: center;
}

header .right .icon {
    display: flex;
    align-items: center;
    margin-right: 12px;
}
header .right .icon p {
    margin: 0 8px;
}
.account {
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.account>p {
    margin-right: 12px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

table {
    width: 100%;
}

table,th,td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 32px 0;
    text-align: center;
}

table thead th {
    padding: 8px 0;
}

table tbody td {
    padding: 16px;
}


table tbody td:last-child{
    width: 200px;
}
input[type="button"], input[type="reset"], input[type="submit"]{
    color: #fff;
    background-color: #313C4E;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #F4694C;
}

input[type="button"]:hover {
    background-color: #F4694C;
}

input[type="reset"]:hover {
    background-color: #F4694C;
}

form {
    width: 80%;
    margin: 0 auto;
}

.form-control {
    margin: 16px 0;
}

form label {
    font-weight: 600;
}

form input[type="text"], input[type="file"] {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

select, textarea {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

form input[type="radio"]{
    margin: 8px 0;
}

tr .desc {
    max-width: 200px;
}
.box-dashboard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    margin: 64px 44px;
  }
.service-item {
    width: 100%;
    height: 180px;
    text-align: center;
  }
.service-item i {
    color: #F4694C;
    text-align: center;
    font-size: 50px;
  }
.service-item h1 {
    margin: 10px 0;
    font-size: 40px;
  }