
.banner-contact {
  margin: 158px auto 0;
  position: relative;
}
.banner-contact img {
  width: 100%;
  filter: brightness(70%);
  height: 600px;
}
.banner-contact p {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
article {
  margin: 50px 0;
}
article h1 {
  text-align: center;
}
.contact-page form {
  text-align: center;
  margin: 30px 0;
}
.contact-page form input {
  width: 50%;
  height: 60px;
  border: 1px solid #f4694c;
  background-color: #f5f6f8;
  margin-bottom: 24px;
  border-radius: 7px;
  padding-left: 16px;
}
.contact-page form textarea {
  border: 1px solid #f4694c;
  background-color: #f5f6f8;
  margin-bottom: 24px;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 16px;
}
::placeholder {
  color: #999;
}
.contact-page form button {
  width: 50%;
  height: 50px;
  border: 1px solid #f4694c;
  border-radius: 7px;
  background-color: #f4694c;
  color: #f5f6f8;
}

.contact-page form input[type="submit"] {
  width: 50%;
  height: 50px;
  border: 1px solid #f4694c;
  border-radius: 7px;
  background-color: #f4694c;
  color: #f5f6f8;
}
.contact-our {
  display: flex;
  column-gap: 85px;
  justify-content: center;
  margin: 90px 0;
  align-items: center;
}
.contact-our div {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.contact-our div i {
  font-size: 30px;
  color: blueviolet;
}

.contact-our a {
  text-decoration: none;
}

.contact-our a:hover {
  color: #f4694c;
}
