
.banner-gallery {
  margin: 0 auto;
  position: relative;
}
.banner-gallery img {
  width: 100%;
  filter: brightness(70%);
  height: 600px;
}
.banner-gallery p {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
.box-gallery-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-content: space-between;
  margin: 84px 64px;
}
.gallery-item {
  width: 660px;
  height: 380px;
  margin-top: 30px;
}
.gallery-item img {
  width: 660px;
  height: 100%;
}
.service-item h1 {
  text-align: center;
  margin: 10px 0;
}
